html
  head
    title Chat do Yan
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" , crossorigin="anonymous")
  body
    div.top.center
      h1 Chat do Yan
      a(href='/logout') 
        button#logout 
          i.fas.fa-sign-out-alt(aria-hidden='true') Logout  
    div
    div.box-lista
      p#num-users.center
      div.lista#listaUsuarios
    div.chat.center
      .content
        ul#messages
        form(action='')
          input#m(autocomplete='off')
          button.botao 
            i.fa.fa-arrow-right
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js')
    script(src='/public/client.js')
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">