html{
  padding: 0px;
  margin: 0px;
  background-color:#ff7f50;
}

body{
  padding: 0px;
  margin: 0px;
}

.top {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-bottom: 1px solid white;
  background-color:#000000;
  color:white;
}

.box-lista{
  text-align:center;
  width:100%;
}

.lista{
  display: inline-block;
  text-align:center;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.chat {
  margin-top: 40px;
  width: 500px;
  background-color:white;
}

.chat-box {
  margin-top: 20px;
  height: 500px;
}

.content{
 border: 1px solid black; 
}

#logout {
  position: absolute;
  right: 30px;
  top: 20px;
}

.middle{
display: inline-block;
}

form input {
  padding: 10px; 
  width: 90%; 
}

form button { 
  width: 10%;
  padding: 10px; 
  cursor: pointer;
}

form {
  margin-bottom: 0px;
}

#messages { 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 20em;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 5px;
}

#messages li { 
  padding: 5px 10px;
}

#messages li:nth-child(odd) { 
  background: #eee;
}

#logoGit {
  margin-bottom: 2vh;
}

#btnLogin {
  font-weight: bolder;
  background: white;
  color: black;
  border-radius: 3px;
  border: solid black 1px;
  padding: 7px;
}

#btnLogin:hover {
  background: black;
  color: white;
}

#divLogin {
  width: 30vw;
  background-color: rgba(255,255,255,0.5);
  padding: 10px 60px 30px 60px ;
}

#divLogin h2{
  margin-bottom: 5vh;
}

#bodyinicio{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headinicio{
  margin-top: 10vh;
  font-size: 60px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', sans-serif;
}

.botao {
  height: 39px;
}